*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Secret Power';
    src: url(./fontes/secret_power/Secret\ Power.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Crush';
    src: url(./fontes/robot_crush/Robot\ Crush.ttf) format('truetype'), url(./fontes/robot_crush/Robot\ Crush.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100vh;
    background: #fff201;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes aparecer{
    100%{
        opacity: 100%;
    }
}

.logo{
    margin-bottom: 10px;
    opacity: 0;
    animation: aparecer normal 1.5s both;
}

.titulo{
    color: #FFF301;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #100201;
    text-shadow: 2px 3px 0 #e9030d;
    font-family: 'Secret Power';
    font-size: 50px;
    margin-bottom: 30px;
    opacity: 0;
    animation: aparecer normal 1.5s both;
}

.titulo strong{
    color: #e9030d; 
    text-shadow: 2px 3px 0 #100201;
}

.botao {
    background-color: #fffff9;
    border: 5px solid #100201;
    text-transform: uppercase;
    font-size: 16px;
    width: 150px;
    height: 40px;
    font-family: 'Secret Power';
    opacity: 0;
    animation: aparecer normal 5s both, pisca normal infinite 2s;
}

@keyframes pisca {
    30%{
        background-color: #e9030d;
    }
}

.botao:hover{
    color: #FFF301;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #100201;
    text-shadow: 1px 2px 0 #e9030d;
}

.botao:active{
    background-color: black;
}

.botao a{
    all: unset;
}

.botao a:visited{
    all:unset;
}

@media (max-width: 700px) {


    .principal{
        height: auto;
        width: 100%;
    }

    .logo{
        width: 90%;
    }

    .titulo{
        width: auto;
        text-align: center;
    }
}