*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Secret Power';
    src: url(./fontes/secret_power/Secret\ Power.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Crush';
    src: url(./fontes/robot_crush/Robot\ Crush.ttf) format('truetype'), url(./fontes/robot_crush/Robot\ Crush.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100vh;
    background: #FFF301;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao{
    background-color: #fffff9;
    width: 78%;
    height: 520px;
    padding: 30px 65px;
    border: 4px dashed #100201;
    opacity: 0;
    animation: slide normal 0.8s both;
    transform: translateY(40px);
}

@keyframes slide {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    width: 150px;  
    padding-bottom: 5px;
}

.titulo{
    color: #FFF301;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #100201;
    text-shadow: 2px 3px 0 #e9030d;
    font-family: 'Secret Power';
    font-size: 40px;
    margin-bottom: 20px;
}

.titulo strong{
    color: #e9030d; 
    text-shadow: 2px 3px 0 #100201;
}

.intro1{
    font-family: 'Roboto Crush';
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #100201;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #ffffff;
}

.intro2{
    font-family: 'Roboto Crush';
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    color: #100201e3;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iniciar{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao {
    background-color: #fffff9;
    border: 5px solid #100201;
    text-transform: uppercase;
    font-size: 16px;
    width: 150px;
    height: 40px;
    font-family: 'Secret Power';
}

.botao:hover{
    color: #FFF301;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #100201;
    text-shadow: 1px 2px 0 #e9030d;
}

 .botao:active{
    background-color: black;
}

@media (max-width: 700px) {

    .apresentacao{
        height: auto;
        width: 100%;
        margin: auto;
        padding: 15px 10px;
    }

    .titulo{
        font-size: 30px;
        text-align: center;
    }

    .conteudo{
        width: 100%;
    }

    .intro1{
        width: 100%;
    }

    .intro2{
        font-size: initial;
    }
}