*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Secret Power';
    src: url(../fontes/secret_power/Secret\ Power.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Crush';
    src: url(../fontes/robot_crush/Robot\ Crush.ttf) format('truetype'), url(./robot_crush/Robot\ Crush\.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgba(255, 255, 233, 0.5);
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho img{
    width: 135px;
    margin: 10px;
}

.principal{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo{
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0;
}


.rosto-seguranca {
    width: 400px;
    box-shadow: 2px 3px 3px #d6c20ad0;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 300px;
    height: 400px;
    padding: 10px 10px;
}

.sobre h2{
    padding: 10px 0;
    font-family: 'Secret Power';
    color: #fff203;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #0f0e01;
    text-shadow: 1px 1px 0 #0f0e01;
}

.sobre ul{
    padding-bottom: 10px;
    list-style: none;
    font-family: 'Roboto Crush';
    color: #0f0e01;
    text-shadow: 2px 1px 0 #d6c20a;
}

.resposta{
    color: #fffff9;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #d6c20a;
    padding-left: 10px;
}

.mais{
    font-family: 'Roboto Crush';
    color: #0f0e01;
    width: 310px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f1f1f1;
}

.botao{
    background: transparent;
    border: 5px solid #0f0e01;
    color: #0f0e01;
    text-transform: uppercase;
    font-size: 16px;
    width: 120px;
    height: 40px;
    font-family: 'Secret Power';
    margin: 35px 0 0 0;
}

.botao:hover{
    border: 5px solid #fff203d5;
    background: #fff203d5;
    color: #b40205;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #fff203d5;
}

.botao:active{
    border: 5px solid beige;
    background: beige;
    color: #fff203;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: beige;
}

footer{
    background: linear-gradient(#fff203 50%, #d6c20a); 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Secret Power';
    color: #f1f1f1;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: #0f0e01;
}