*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Secret Power';
    src: url(../fontes/secret_power/Secret\ Power.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Crush';
    src: url(../fontes/robot_crush/Robot\ Crush.ttf) format('truetype'), url(./robot_crush/Robot\ Crush\.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgba(233, 240, 255, 0.123);
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.cabecalho img{
    width: 135px;
    margin: 10px;
}

.principal{
    height: 570px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo{
    box-sizing: border-box;
    height: 380px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(247, 247, 247, 0.726);
    border: 3.5px dashed lightsteelblue;   
}

.historia{
    padding: 3px 25px;
    font-family: 'Roboto Crush';
    font-family: 'Roboto Crush';
    color: #113589;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f1f1f1;   
}

.box-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.botao{
    background: transparent;
    border: 5px solid #03091a;
    color: #03091a;
    text-transform: uppercase;
    font-size: 16px;
    width: 120px;
    height: 40px;
    font-family: 'Secret Power';
    margin: 25px 0 0 0;
}

.botao:hover{
    border: 5px solid #e60d1f;
    background: #e60d1f;
    color: #03091a;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f1f1f1;
}

.botao:active{
    border: 5px solid #1c57bd;
    background: #2a61c0;
    color: #7d96db;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #000000;
}

footer{
    background: linear-gradient(#1c57bd, #113589);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Secret Power';
    color: #f1f1f1;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: #03091a;
}

@media (max-width: 700px) {
    .cabecalho{
        margin-bottom: 5%;
    }
    .principal{
        height: auto;
    }

    .conteudo{
        width: 100%;
        height: auto;
        padding: 3% 0;;
        text-align: center;
        border: none;
        background: none;
    }

    .historia{
        padding: 7px;
        font-size: 15px;
    }

    .box-botao{
        height: auto;
        margin-bottom: 10%;
    }

    footer{
        text-align: center;
        font-size: 14.5px;
        padding: 0 2%;
    }
}