*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto Crush';
    src: url(../fontes/robot_crush/Robot\ Crush.ttf) format('truetype'), url(./robot_crush/Robot\ Crush\.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aldo';
    src: url(../fontes/aldo_the_apache/AldotheApache.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.conteudo{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9030d;
}

.perdeu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 9px double rgb(170, 10, 10);
    padding: 30px 60px;
    animation: borda normal infinite 1s;
}

@keyframes borda {
    30%{
        border-color: rgba(161, 18, 18, 0.705);
    }
}

.perdeu h1{
    font-family: 'Aldo';
    font-size: 100px;
    display: inline-block;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: escrever normal 2s steps(33) both;
}

@keyframes escrever{
    100%{
        max-width: 100%;
    }
}

.perdeu p{
    font-family: "Roboto Crush";
    font-size: 30px;
    margin-bottom: 30px;
}

.perdeu button{
    width: 130px;
    height: 40px;
    font-family: 'Aldo';
    font-size: 20px;
    border: 3px solid black;
    background-color: rgb(255, 238, 238);
}

.perdeu button:hover{
    background: black;
    color: rgb(255, 238, 238);
}

.perdeu button:active{
    background: rgb(255, 238, 238);
    color: black;
}