*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho img{
    width: 140px;
    margin: 10px;
}

.conteudo{
    height: 100vh;
}

footer{
    background: linear-gradient(#953891 30%, #722583);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}