*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Secret Power';
    src: url(../fontes/secret_power/Secret\ Power.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Crush';
    src: url(../fontes/robot_crush/Robot\ Crush.ttf) format('truetype'), url(./robot_crush/Robot\ Crush\.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #f1f1f1;
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho img{
    width: 140px;
    margin: 10px;
}

.principal{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo{
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0;
    opacity: 0;
    animation: slide normal 0.8s both;
    transform: translateX(40px);
}

@keyframes slide {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}


.rosto-ladra {
    width: 400px;
    box-shadow: 2px 3px 3px #722583b7;
}

.sobre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 300px;
    height: 400px;
    padding: 10px 10px;
}

.sobre h2{
    padding: 10px 0;
    font-family: 'Secret Power';
    color: #a0c4da;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #140318;
    text-shadow: 1px 1px 0 #140318;
}

.sobre ul{
    padding-bottom: 10px;
    list-style: none;
    font-family: 'Roboto Crush';
    color: #140318;
    text-shadow: 2px 1px 0 #7225838e;
}

.resposta{
    color: beige;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #953891;
    padding-left: 10px;
}

.mais{
    font-family: 'Roboto Crush';
    color: #140318;
    width: 310px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #f1f1f1;
}

.box-botao{
    display: flex;
    justify-content: center;
}

.botao{
    background: transparent;
    border: 5px solid #3b1444;
    color: #3b1444;
    text-transform: uppercase;
    font-size: 16px;
    width: 120px;
    height: 40px;
    font-family: 'Secret Power';
    margin: 35px 0 0 0;
    opacity: 0;
    animation: slide normal 0.8s both;
    transform: translateX(80px);
}

.botao:hover{
    border: 5px solid #953891;
    background: #953891;
    color: #a0c4da;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: #140318;
}

.botao:active{
    border: 5px solid #a0c4da;
    background: #a0c4da;
    color: #fae4ff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #8b7291;
}

footer{
    background: linear-gradient(#953891 30%, #722583);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Secret Power';
    color: #f1f1f1;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: #140318;
}

@media (max-width: 700px) {
    .cabecalho{
        margin-bottom: 5%;
    }

    .principal{
        height: auto;
        width: 100%;
        margin-bottom: 5%;
    }

    .conteudo{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sobre{
        width: 95%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .mais{
        width: 100%;
        font-size: 14px;
    }

    .rosto-ladra{
        width: 90%;
    }

    .sobre{
        text-align: center;
    }

    .box-botao{
        height: auto;
        width: 100%;
    }

    footer{
        text-align: center;
        font-size: 14.5px;
        padding: 0 2%;
    }
}